# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
.next/
out/
build/
dist/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Local environment files (DO NOT COMMIT SECRETS)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / Railway
.vercel

# Local uploads
storage/uploads/*
!storage/uploads/.gitkeep
